# Variables de entorno
.env
#graphql_modular
graphql_modular/
#dto
dto/
#interfaces
interfaces/
repositories/
tmp.ts

Creación de carpeta del proyecto.docx


#The files have already been uploaded to Git.
graphql_base/